{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
  <h1>My portfolio</h1>
  <div class="row">
    <div class="col-md-6">
      <h3>Artoche</h3>
      <p>Artoche is the tool that allows building craftsmen to say goodbye to copy and paste, to have a professional quote and to manage the follow-up of its quotes and payments.</p>
      <p><a href="https://app.artoche.fr" taget="blank">https://app.artoche.fr</a></p>
    </div>
    <div class="col-md-6">
      <h3>Astronight</h3>
      <p>Observe the stars, meet and share. Astronight provides people recommandations to find a good astronomical site based on weather forecast data</p>
      <p><a href="http://www.astronight.space" target="blank">http://www.astronight.space</a></p>
      <p><a href="https://github.com/CedricChaynes/astronight" taget="blank">https://github.com/CedricChaynes/astronight</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Brocraft</h3>
      <p>Rent and borrow from individuals near you. Brocraft brings people together by exchanging their DIY tools</p>
      <p><a href="https://radiant-oasis-26134.herokuapp.com/" target="blank">https://radiant-oasis-26134.herokuapp.com/</a></p>
      <p><a href="https://github.com/CedricChaynes/BroCraft" taget="blank">https://github.com/CedricChaynes/BroCraft</a></p>
    </div>
    <div class="col-md-6">
      <h3>Minesweeper clone</h3>
      <p>A game that you have to flag all the mines to win</p>
      <p><a href="https://github.com/sirtaylor88/fullstack-challenges/tree/master/04-Front-End/05-DOM-and-Events/Optional-02-Minesweeper" taget="blank">https://github.com/sirtaylor88/fullstack-challenges/tree/master/04-Front-End/05-DOM-and-Events/Optional-02-Minesweeper</a></p>
    </div>
  </div>
</div>
{% endblock %}
