{% load static %}

<div class="footer-copyright">
  <a href="https://www.insa-lyon.fr/en/" target="blank">
    <img src="{% static 'images/logos/insa_lyon_logo.png' %}" height="60" alt="Insa Logo">
  </a>
  <a href="https://u-paris.fr/en/498-2/" target="blank">
    <img src="{% static 'images/logos/paris_diderot_logo.png' %}" height="60" alt="Paris Diderot Logo">
  </a>

</div>

<div class="footer-links d-none d-md-block">
  <a href="https://twitter.com/sirtaylor88" target="blank">
    <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
  </a>

  <a href="https://www.linkedin.com/in/nhat-tai-nguyen-35990644/" target="blank">
    <i class="fab fa-linkedin fa-lg" aria-hidden="true"></i>


  <a href="https://github.com/sirtaylor88" target="blank">
    <i class="fab fa-github fa-lg" aria-hidden="true"></i>
  </a>
</div>
